.flat {
  flex-basis: calc(50% - 40px);
  margin: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  border: 1px solid grey;
  cursor: pointer;
  height: 20vw;
  &.selected {
    border: 1px solid rgba(255, 166, 43, 1);
    .flat-title {
      color: white;
      background:rgba(255, 166, 43, 0.8);
      text-shadow: 1px 1px 0px rgb(161, 161, 161);
    }
  }
}
.flat-image {
  &:hover {
    opacity: .9; 
  }
  display: block;
  height: 15vw;
  border-radius: 3px 3px 0px 0px;
  img {
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.flat-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100% - 15vw);
  font-weight: bold;
}

@media (max-width: 1080px) {
  .flat { 
    flex-basis: 100%;
    height: 35vw;
  }
  .flat-image {
    height: 26vw;
  }
  .flat-title {
    height: calc(100% - 26vw);
    font-size: 2vw;
  }
}
