.flat-content {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translate(0, -10px);
  }
  &.selected {
    border: 1px solid rgba(255, 166, 43, 1);
    transform: translate(0, -10px);
  }
}
.flat {
  &:hover {
    opacity: .9; 
  }
  object-position: top;
  top: 0px;
  display: block;
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 3px 3px 0px 0px;
}
.flat-title {
  padding: 5px;
  height: calc(100% - 15vw);
  display:flex;
  border-radius: 0px 0px 3px 3px;
  p {
    margin:auto;
  }
  &:hover {
    color: white;
    background:rgba(255, 166, 43, 0.8);
    text-shadow: 1px 1px 0px rgb(161, 161, 161);
  }
}
.demoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.demoWrapper div {
  width: 23vw;
  height: 23vw;
  margin: 0.5vw auto;
  background: gold;
}
