.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 184, 85, 1);
  padding: 20px 0;
  margin-bottom: 10px;
  .search {
    margin: 0 15px 0 15px;
    width: 25%;
  }
  .button {
    font-size: 20px;
  }
}

