@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    font-size: 1vw;
    padding: 10px 0;
  }
  .main {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
  }
  .map {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    position: sticky;
    box-sizing: content-box !important;
    margin: 10px !important;
    padding: 0 !important;
  }
  .flats {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .header {
    display: flex;
    align-items: center;
    margin: 10px;
    .form-control{
      font-size: 1.25vw;
    }
  }
  .my-marker {
    cursor: pointer;
  }
}
 